.fs-1 {
    font-size: 2.25rem !important;
  }
  
  .fw-bold {
    font-weight: bold !important;
  }
  
  .text-Capitalize {
    text-transform: capitalize !important;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #2b2b2b;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
  }
  
  .text-white {
    color: #fff !important;
  }
  
  .text-center {
    text-align: center !important;
  }
  
  .card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
  }
  
  .card-title {
    margin-bottom: 0.75rem;
  }
  
  .card-text {
    margin-bottom: 0;
  }
  
  .text-primary {
    color: #007bff !important;
  }
  
  .text-success {
    color: #28a745 !important;
  }
  
  .text-danger {
    color: #dc3545 !important;
  }
  
  .text-warning {
    color: #ffc107 !important;
  }
  
  .text-info {
    color: #17a2b8 !important;
  }
  
  .text-dark {
    color: #343a40 !important;
  }
  
  .text-secondary {
    color: #6c757d !important;
  }
  
  .text-muted {
    color: #6c757d !important;
  }
  
  .text-light {
    color: #f8f9fa !important;
  }